.header-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.header-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 78px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(250, 253, 255) 0.00%,rgb(246, 3, 3) 100.00%);
}
.header-container {
  flex: 0 0 auto;
  width: 293px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-image {
  width: 70px;
  height: 52px;
  object-fit: cover;
  margin-right: 53px;
}
.header-navlink {
  font-size: 20px;
  align-self: center;
  font-family: Open Sans;
  font-weight: 400;
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
.header-text {
  color: #ff0000;
  font-weight: 600;
  text-decoration: none;
}
.header-text1 {
  font-weight: 600;
  text-decoration: none;
}
.header-container1 {
  color: var(--dl-color-gray-black);
  width: 858px;
  height: 114px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-menu {
  width: 851px;
  height: 69px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.header-navlink1 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink1:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink2 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink2:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink3 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink3:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink4 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink4:hover {
  color: var(--dl-color-gray-500);
}
.header-text2 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-text2:hover {
  color: var(--dl-color-gray-500);
}
@media(max-width: 991px) {
  .header-nav {
    max-width: 960px;
  }
  .header-menu {
    display: none;
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: 4px;
  padding-left: 1px;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  height: 689px;
  display: flex;
  padding: 48px;
  position: relative;
  min-height: 80vh;
  align-items: center;
  border-color: #ff0000;
  border-width: 3px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-color: #D9D9D9;
  background-image: url('https://images.pexels.com/photos/633857/flower-rose-macro-nature-633857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: bottom;
}
.home-container02 {
  width: 1188px;
  height: 226px;
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: #ff0000;
  font-size: 40px;
  margin-left: 318px;
}
.home-button {
  color: var(--dl-color-gray-white);
  font-style: normal;
  margin-top: 90px;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  margin-left: 519px;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 32px;
  border-radius: 4px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ff0000;
}
.home-button:hover {
  transform: scale(1.02);
}
.home-text01 {
  color: #000000;
  width: 485px;
  font-size: 40px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: 20px;
  text-align: center;
}
.home-container03 {
  width: 100%;
  height: 641px;
  display: flex;
  padding: 48px;
  max-width: 100%;
  align-items: center;
  padding-top: 12px;
  justify-content: center;
}
.home-pricing-card {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  border-color: #ff0000;
  border-width: 1px;
  margin-right: 32px;
  padding-left: 32px;
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-image: linear-gradient(270deg, rgb(255, 255, 255) 1.00%,rgb(255, 0, 0) 100.00%);
}
.home-pricing-card:hover {
  transform: scale(1.02);
}
.home-text02 {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.home-container04 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.home-text03 {
  color: #000000;
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.home-text06 {
  color: #000000;
  font-size: 4rem;
  font-weight: 700;
}
.home-container05 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text07 {
  color: #000000;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text09 {
  color: #000000;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text11 {
  color: #000000;
  margin-bottom: var(--dl-space-space-unit);
}
.home-button1 {
  color: #000000;
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  border-color: #ff0000;
  padding-left: 32px;
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ffffff;
}
.home-pricing-card1 {
  width: 100%;
  display: flex;
  padding: 32px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  border-color: #ff0000;
  border-width: 1px;
  margin-right: 32px;
  border-radius: var(--dl-radius-radius-radius75);
  flex-direction: column;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 0, 0) 100.00%);
}
.home-pricing-card1:hover {
  transform: scale(1.02);
}
.home-text13 {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.home-container06 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.home-text14 {
  color: #000000;
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.home-text17 {
  color: #000000;
  font-size: 4rem;
  font-weight: 700;
}
.home-container07 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text18 {
  color: #000000;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text20 {
  color: #000000;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text22 {
  color: #020202;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text24 {
  color: #000000;
  margin-bottom: var(--dl-space-space-unit);
}
.home-button2 {
  color: #000000;
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  border-color: #ff0000;
  padding-left: 32px;
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ffffff;
}
.home-pricing-card2 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  border-color: #ff0000;
  border-width: 1px;
  padding-left: 32px;
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(255, 0, 0) 100.00%);
}
.home-pricing-card2:hover {
  transform: scale(1.02);
}
.home-text26 {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.home-container08 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.home-text27 {
  color: #000000;
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.home-text30 {
  color: #000000;
  font-size: 4rem;
  font-weight: 700;
}
.home-container09 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text31 {
  color: #000000;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text33 {
  color: #000000;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text35 {
  color: #000000;
  margin-bottom: var(--dl-space-space-unit);
}
.home-button3 {
  color: #000000;
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  border-color: #ff0000;
  padding-left: 32px;
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ffffff;
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unitandahalfunit);
  padding-top: 63px;
  margin-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
}
.home-container11 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: 196px;
  flex-direction: column;
}
.home-image {
  width: 100%;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  object-fit: cover;
  margin-left: 3rem;
  margin-right: -3rem;
  border-radius: var(--dl-radius-radius-radius75);
}
.home-container12 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-image1 {
  left: 18px;
  width: 90%;
  bottom: -729px;
  display: block;
  position: absolute;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: -1.5rem;
  object-fit: cover;
  margin-left: 2rem;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: 120px;
}
.home-container13 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: var(--dl-space-space-triplequarterunit);
  padding-right: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.home-image2 {
  width: 100%;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: 205px;
  object-fit: cover;
  margin-left: -1.5rem;
  margin-right: 10px;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-container14 {
  width: 90%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-text37 {
  color: #000000;
}
.home-text38 {
  color: #000000;
}
.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(255, 149, 149) 1.00%,rgb(255, 108, 238) 100.00%);
}
.home-text51 {
  color: #000000;
  font-size: 40px;
}
.home-blog {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 52px;
  border-color: #ff0000;
  border-width: 1px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1542617827-59ab88ecee35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1400&q=80');
}
.home-blog-post-card {
  width: 100%;
  display: flex;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.home-blog-post-card:hover {
  transform: scale(1.02);
}
.home-image3 {
  width: 100%;
  height: 100%;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 0px;
}
.home-container16 {
  width: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-text52 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}
.home-separator {
  width: 40%;
  height: 1px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.home-container17 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: 32px;
  margin-right: 32px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-blog-post-card1 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.home-blog-post-card1:hover {
  transform: scale(1.02);
}
.home-image4 {
  width: 100%;
  height: 100%;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 0px;
}
.home-container18 {
  width: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  margin-bottom: 80px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-text53 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}
.home-separator1 {
  width: 40%;
  height: 1px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.home-blog-post-card2 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.home-blog-post-card2:hover {
  transform: scale(1.02);
}
.home-image5 {
  width: 100%;
  height: 409px;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 0px;
}
.home-container19 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-text54 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}
.home-separator2 {
  width: 40%;
  height: 1px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.home-blog-post-card3 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.home-blog-post-card3:hover {
  transform: scale(1.02);
}
.home-image6 {
  width: 100%;
  height: 100%;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 0px;
}
.home-container20 {
  width: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-text55 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}
.home-separator3 {
  width: 40%;
  height: 1px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.home-banner {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
}
.home-container21 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.home-text56 {
  color: #ff4444;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text58 {
  color: #000000;
  margin-right: 48px;
}
.home-image7 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.home-pricing {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  justify-content: center;
}
.home-hero1 {
  width: 100%;
  display: flex;
  padding: 48px;
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.pexels.com/photos/4041287/pexels-photo-4041287.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'),linear-gradient(113.8deg, rgba(255, 76, 92, 0.8) 7.5%, rgba(255, 177, 70, 0.8) 94.47%);
}
.home-text59 {
  color: #d20000;
  font-size: 3rem;
  margin-bottom: 100px;
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-container22 {
  display: flex;
  position: relative;
}
.home-button4 {
  color: #ff0000;
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: #ff0707;
  border-width: 2px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-button4:hover {
  transform: scale(1.02);
}
.home-button5 {
  color: #000000;
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: #000000;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: transparent;
}
.home-button5:hover {
  transform: scale(1.02);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: #000000;
}
.home-container23 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
}
.home-text60 {
  color: #ffffff;
  margin-top: 72px;
}
.home-links-container {
  width: 630px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1px;
  flex-direction: row;
  justify-content: space-between;
}
.home-container24 {
  width: 174px;
  display: flex;
  margin-top: 59px;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.home-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 43px;
  justify-content: flex-start;
}
.home-text61 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text62 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text63 {
  color: #ffffff;
}
.home-socials {
  width: 112px;
  height: 72px;
  display: flex;
  margin-top: 46px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text64 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}
.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon {
  fill: #ffffff;
  width: var(--dl-size-size-unitandahalf);
  height: var(--dl-size-size-unitandahalf);
  margin-right: var(--dl-space-space-unit);
}
.home-icon2 {
  fill: #ffffff;
  width: var(--dl-size-size-unitandahalf);
  height: var(--dl-size-size-unitandahalf);
  margin-right: var(--dl-space-space-unit);
}
.home-icon4 {
  fill: #ffffff;
  width: var(--dl-size-size-unitandahalf);
  height: var(--dl-size-size-unitandahalf);
}
.home-container25 {
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-top: 47px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-contact {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: flex-start;
}
@media(max-width: 991px) {
  .home-container01 {
    max-width: 960px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-pricing-card {
    width: 100%;
    padding: 32px;
    max-width: 100%;
    align-items: center;
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .home-banner {
    flex-direction: column;
  }
  .home-container21 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .home-text58 {
    text-align: center;
    margin-left: 48px;
  }
  .home-image7 {
    width: 288px;
    height: 288px;
  }
  .home-hero1 {
    flex-direction: column;
  }
  .home-text59 {
    text-align: center;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-container24 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .home-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .home-container01 {
    max-width: 720px;
  }
  .home-hero {
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container03 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-container10 {
    align-items: center;
    flex-direction: column;
  }
  .home-container11 {
    width: 80%;
  }
  .home-image {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-image1 {
    display: none;
  }
  .home-container13 {
    width: 80%;
  }
  .home-image2 {
    display: none;
  }
  .home-blog {
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: column;
  }
  .home-container17 {
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-text58 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-hero1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container23 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-logo {
    align-items: center;
  }
  .home-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .home-container24 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .home-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .home-hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-button {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container03 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-pricing-card2 {
    margin-bottom: 0px;
  }
  .home-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-image7 {
    width: 192px;
    height: 192px;
  }
  .home-hero1 {
    width: 100%;
    padding: 32px;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-btn-group {
    flex-direction: column;
  }
  .home-button5 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-container23 {
    align-items: center;
    flex-direction: column;
  }
  .home-links-container {
    align-items: center;
    flex-direction: column;
  }
  .home-container24 {
    margin-right: 0px;
  }
  .home-container25 {
    margin-top: 24px;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .home-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
}
